doctype html
html(lang='en')
  head
    title Data Licences
    meta(name='viewport', charset='utf-8', content='width=device-width, initial-scale=1.0')
    //- link(rel='stylesheet', type='text/css', href='/public/stylesheets/reset.css')
    link(rel='stylesheet', type='text/css', href='/public/stylesheets/data-licences.css')
    script(src='/public/javascripts/jquery.js')
    script(src='/public/javascripts/data-licences.js')
  body
    header
      img(src="/public/images/logo.svg", height="80px")
      h1 Data Licences
    block content