extends ./data-licences-layout.jade
block content
    h1 Done
    p Your data licence has been published
    p
      a(href="/data-licences") View your licences
    p
      a(href="/smart-citizen/profile/kits") Back to Smart Citizen