extends ./data-licences-layout.jade
block content
  form(method="get", action="/data-licences/build/publishing")
    h1 Review your licence
    button(id="publish-licence", type="submit") Publish this licence