extends ./smart-citizen-layout.jade
block content
  section.static_page.ng-scope
    div.timeline(layout="row")
      div.content(layout-align="start center", layout="row", flex="")
        |<img src="/public/images/logo-smart-citizen-colors.svg" width="70px" style="margin-right:15px;"/>
        h1 Data Licences
    div.row
      div.content
        h2 The next version of terms and conditions
        p Data licences are a tool that give you ownership and control of your data. You set the rules of engagement, and decide if you want to share your data, who can access it and what it can be used for. This means you can choose to be completely private, or share your information under certain terms.

        h3 Publish a Data Licence for your Smart Citizen Kits

        div.profile_content_main_kits

          div.ng-scope
            a.kitList.kitList_primary.md-button.md-default-theme(href="/data-licences/build", layout="column", layout-align="start start")
              h4.ng-binding.ng-scope Testing kit
              p.ng-binding.ng-scope Penrhyn Bay, United Kingdom
              button.call-to-action.md-button.md-default-theme(ng-transclude="", ng-click="vm.geolocate()")
                span.ng-scope Get started

          div.ng-scope
            a.kitList.kitList_primary.md-button.md-default-theme(href="/data-licences/build", layout="column", layout-align="start start")
              h4.ng-binding.ng-scope john rees smart citizen
              p.ng-binding.ng-scope Barcelona, Spain
              button.call-to-action.md-button.md-default-theme(ng-transclude="", ng-click="vm.geolocate()")
                span.ng-scope Get started